body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin: 0;
    padding: 0;
    background-color: antiquewhite
}
body{
    background-color:  rgb(157, 184, 166);
    text-align: center;
    color: aliceblue;
    text-align: center;
    padding: 1em 0;
}
h4{
    color: brown;
    
}
#imagen1 {
    width: 30%;
    margin: 1% auto;
    clip-path: circle(35% at 50% 35%);
    box-shadow: 0 0 15px;
    

}

#imagen1 {
    display: block;

    justify-content: space-around;

}
p {
    color: #777;
    font-size: 0.9em;
    margin-bottom: 20px;
    text-align: justify;
    width: 20%; /* Ajusta el ancho para forzar varias líneas */
    margin-left: auto;
    margin-right: auto;
    line-height: 1.5em; /* Ajusta el espacio entre líneas */
}
footer {
    display: flex;
    justify-content: space-between; /* Espacia los elementos */
    align-items: center; /* Alinea verticalmente los íconos */
    width: 30%; /* Ajusta el ancho del footer */
    margin: 5% auto; /* Centra el footer horizontalmente */
    box-shadow: 0 0 15px;
}

footer a {
    flex-grow: 1; /* Permite que los enlaces ocupen el mismo espacio */
    text-align: center; /* Centra los íconos dentro de los enlaces */
}

footer img {
    width: 50px; /* Ajusta el tamaño de los íconos */
    height: auto; /* Mantiene la proporción de las imágenes */
   margin: 0 10px; /* Espacio entre los íconos */
    

}
